{% extends "basefront.html.twig" %}

{% block body %}
    <h1>Connexion au back office</h1>

    {% if erreur %}
        <p style="color:red;">
            {{ erreur.messageKey|trans(erreur.messageData, 'security') }}
        </p>
    {% endif %}

    <form method="post">
        <label for="username">Login :</label>
        <input type="text" id="username" name="_username" value="{{ last_username|default('') }}" required>

        <br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="_password" required>

        <br><br>

        <button type="submit">Se connecter</button>
    </form>
{% endblock %}